.btn {
  font-size: 14px;
  width: 100px;
  border: 1px solid darkgray;
}

.bg-blue {
  background-color: #027fff; /*navbar background*/
}

.btn-blue {
  background-color: #0d5db6; /*button*/
}

.btn-blue:hover {
  background-color: #688cff;
}

.price {
  font-size: 16px;
}

a.item_ad {
  text-decoration: none;
  color: black;
}

a.item_ad:hover{
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  transition: 0.3s;
}

.badge {
  font-size: 13px;
}

.caption-ad {
  position: relative;
}

.caption-ad .ad {
  position: absolute;
  bottom: 0;
}
