<div id="listUserId">
  <div style="width: 100%">
    <div class="table-header">
      <p class="text-center text-uppercase title">Danh Sách Thành Viên Trong Hệ Thống</p>
    </div>
    <div class="row p-0 m-0">
      <div class="col-3">
        <a href="" class="btn btn-success addUser" [routerLink]="['/employee/create']">
          <i class="fas fa-plus"></i>
          <span>Thêm mới thành viên</span>
        </a>
      </div>
      <div class="col-5"></div>
      <div class="col-4 float-right d-inline-flex">
        <input type="text" [(ngModel)]="keySearch"
               (keyup.enter)="searchEnter()"
               placeholder="Nhập thông tin mà bạn muốn tìm kiếm "
               class="form-control rounded-pill inputSearch" style="width: 80%">
        <button class="btn btnSearch"
                (click)="search()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <table class="table table-hover" matSort (matSortChange)="sortData($event)">
      <thead class="theadTable">
      <th>#</th>
      <th mat-sort-header="name">
        Tên Thành Viên&nbsp;
        <i class="fas fa-sort-alpha-up"></i>
      </th>
<!--      <th mat-sort-header="username">-->
<!--        Tên Đăng Nhập-->
<!--        <i class="fas fa-sort-alpha-up"></i>-->
<!--      </th>-->
      <th mat-sort-header="email">Email&nbsp;
        <i class="fas fa-sort-alpha-up"></i>
      </th>
      <th mat-sort-header="phone">Phone&nbsp;
        <i class="fas fa-sort-numeric-up"></i>
      </th>
      <th mat-sort-header="address">Địa chỉ&nbsp;
        <i class="fas fa-sort-alpha-up"></i>
      </th>
      <th>Các Tuỳ Chọn</th>
      </thead>
      <tbody>
      <tr class="inputTable"
          *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{user.name}}</td>
<!--        <td>{{user.account.username}}</td>-->
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>
          <span>{{user.ward.wardName}}</span>,
          <span>{{user.ward.district.districtName}}</span>,
          <span>{{user.ward.district.province.provinceName}}</span>
        </td>
        <td>
          <a [routerLink]="['edit', user.userId]">
            <button class="editButton btn btn-warning"><i class="far fa-edit"></i></button>
          </a>
          <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#exampleModal"
                  (click)="deleteId = user.userId; deleteName = user.name"><i class="far fa-trash-alt"></i></button>
        </td>
      </tr>
      </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header flex-column">
            <div class="icon-box">
            </div>
            <h4 class="modal-title w-100">Are you sure?</h4>
            <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <app-delete-user [deleteId]="deleteId" [deleteName]="deleteName"
                             (deleteComplete)="deleteSuccess()"></app-delete-user>
          </div>
        </div>
      </div>
    </div>
    <!-- End modal -->
    <!-- pagination -->


    <!--      *ngIf="lengthListBanner !== 0"-->

    <pagination-controls maxSize="3" nextLabel="Sau" previousLabel="Trước"
                         (pageChange)="page = $event"></pagination-controls>


  </div>
</div>
