<div class="container body">
  <div class="card">
    <div class="card-body">
      <p class="title">Thêm mới chuyên mục</p>
      <form [formGroup]="formCreate" (ngSubmit)="save()">
        <table class="table table-striped">
          <tr>
            <td>Tên chuyên mục cha</td>
            <td>
              <select formControlName="category" class="form-control">
                <option value="" disabled>Chọn chuyên mục</option>
                <option *ngFor="let item of categoryList"
                        [ngValue]="item"
                        style="color: blue">
                  {{item.categoryName}}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Tên chuyên mục</td>
            <td>
              <input type="text" formControlName="childCategoryName" maxlength="30" class="form-control">
              <div class="error mt-2" role="alert"
                   *ngIf="formCreate.get('childCategoryName').invalid && formCreate.get('childCategoryName').dirty">
                <span *ngIf="formCreate.get('childCategoryName').hasError('required')">Tên chuyên mục không được để trống.</span>
                <span *ngIf="formCreate.get('childCategoryName').hasError('pattern')">Tên chuyên mục không được có kí tự đặc biệt</span>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit" class="btn btn-success" value="Lưu">
              <a routerLink="/admin/categories/child-categories" class="btn btn-secondary ml-2">Hủy</a>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
