
<div class="portlet light ">
  <div class="portlet-title">
    <div class="caption caption-md">
      <i class="icon-bar-chart theme-font hide"></i>
      <span class="caption-subject font-blue-madison bold uppercase">Your Activity</span>
      <span class="caption-helper hide">weekly stats</span>
    </div>
    <div class="actions">
      <div class="btn-group btn-group-devided" data-toggle="buttons">
        <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
          <input type="radio" name="options" class="toggle">Today</label>
        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
          <input type="radio" name="options" class="toggle">Week</label>
        <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
          <input type="radio" name="options" class="toggle">Month</label>
      </div>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row number-stats margin-bottom-30">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="stat-left">
          <div class="stat-chart">
            <div id="sparkline_bar">
              <canvas width="90" height="45"
                      style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas>
            </div>
          </div>
          <div class="stat-number">
            <div class="title"> Total</div>
            <div class="number"> 2460</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="stat-right">
          <div class="stat-chart">
            <div id="sparkline_bar2">
              <canvas width="90" height="45"
                      style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas>
            </div>
          </div>
          <div class="stat-number">
            <div class="title"> New</div>
            <div class="number"> 719</div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-scrollable table-scrollable-borderless">
      <table class="table table-hover table-light">
        <thead>
        <tr class="uppercase">
          <th colspan="2"> User</th>
          <th> Ngày Tạo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="fit">
            <img class="user-pic" src="https://cdn.tgdd.vn/2020/04/content/1.thumb1-800x450-1.jpg"
                 width="50px" height="50px" style="border-radius: 50%"></td>
          <td>
            Brain
          </td>
          <td> 01/01/2015</td>
        </tr>
        <tr>
          <td class="fit">
            <img src="https://i.pinimg.com/originals/4e/b9/35/4eb935495d932cbc41e8dc3a5a35e60a.jpg" alt=""
                 width="50px" height="50px" style="border-radius: 50%">
          <td>
            Nick
          </td>
          <td> 02/02/2016</td>
        </tr>
        <tr>
          <td class="fit">
            <img class="user-pic" 
                 src="https://i.pinimg.com/236x/24/21/85/242185eaef43192fc3f9646932fe3b46.jpg" alt=""
                 width="50px" height="50px" style="border-radius: 50%"></td>
          <td>
            Tim
          </td>
          <td> 03/03/2017</td>
        </tr>
        <tr>
          <td class="fit">
            <img class="user-pic"
                 src="https://i.pinimg.com/564x/e6/57/55/e65755e73d8085e30aedfa21fde07f1b.jpg" alt=""
                 width="50px" height="50px" style="border-radius: 50%"></td>
          <td>
            Tom
          </td>
          <td> 04/04/2018</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
