<div class="table-responsive" id="xyz">
  <p class="title">Duyệt tin rao vặt</p>
  <div *ngIf="postList.length > 0; else nodata">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Mã sản phẩm</th>
      <th>Tên bài đăng</th>
      <th>Tiêu đề</th>
      <th>Email</th>
      <th class="text-center">Chi tiết</th>
      <th class="text-center">Duyệt</th>
      <th class="text-center">Xoá</th>
      <th class="text-center">Để sau</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of postList | paginate: {itemsPerPage: 5, currentPage: p}">
      <td>{{item.postId}}</td>
      <td>{{item.posterName}}</td>
      <td>{{item.title}}</td>
      <td>{{item.email}}</td>
      <td class="text-center">
        <button [routerLink]="[item.postId]" class="btn btn-info" style="width:44px"><i class="far fa-eye"></i></button>
      </td>
      <td class="text-center">
        <button class="btn btn-success" style="width:44px" data-toggle="modal" data-target="#approveModal"
                (click)="approveId = item.postId; approveTitle= item.title">
          <i class="far fa-check-square"></i>
        </button>
      </td>
      <td class="text-center">
        <button class="btn btn-danger" style="width:44px" data-toggle="modal" data-target="#deleteModal"
                (click)="deleteId = item.postId; deleteTitle= item.title">
          <i class="far fa-trash-alt"></i></button>
      </td>
      <td class="text-center">
        <button class="btnModalWait btn btn-warning" style="width:44px" data-toggle="modal" data-target="#waitModal"
                (click)="waitId = item.postId; waitTitle= item.title">
          <i class="fas fa-hourglass-half"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
    <div>
      <pagination-controls (pageChange)="p = $event" nextLabel="Sau" previousLabel="Trước"></pagination-controls>
    </div>
  </div>
  <ng-template #nodata>
    <h2 style="color: red" class="text-center">----------Không có dữ liệu----------</h2>
  </ng-template>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-delete-post-admin [deleteId]="deleteId" [deleteTitle]="deleteTitle"
                               (deleteComplete)="deleteSuccess()"></app-delete-post-admin>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-confirm-admin [approveId]="approveId" [approveTitle]="approveTitle"
                           (approveComplete)="approveSuccess()"></app-confirm-admin>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="waitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-wait-admin [waitId]="waitId" [waitTitle]="waitTitle" (waitComplete)="waitSuccess()"></app-wait-admin>
      </div>
    </div>
  </div>
</div>


