<div class="container">
  <h1 style="color: #027FFF" class="text-center">Để sau bài đăng</h1>
  <form>
    <table class="table table-hover">
      <thead></thead>
      <tbody>
      <tr>
        <td>
          <h4 style="color: red">Bạn có chắc muốn chuyển bài đăng
            <label style="color: #027FFF">{{waitTitle}}</label>sang chế độ chờ không?</h4>
        </td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-warning text-light" data-dismiss="modal" id="closeModal">Hoàn tác</button>
        </td>
        <td>
          <button class="btn btn-info" data-dismiss="modal" (click)="onWait()">Chuyển</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>


