<app-main-header></app-main-header>
<div class="container-fluid">
  <!--  Header -->
  <div>

  </div>
  <div class="row">
    <div class="col-2 float-left menu-left-admin">
      <div class="row">
        <ul class="col-12">
          <li class=" pt-2 pb-2 menu-var">
            <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/admin']">
              <i class="fas fa-home mr-2 col-1"></i>Trang Chủ
            </a>
          </li>

          <li class=" pt-2 pb-2 menu-var">
            <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/admin/users']">
              <i class="fas fa-user-tie mr-2 col-1"></i>Quản Lý Thành Viên
            </a>
          </li>
          <li class=" pt-2 pb-2 menu-var">
            <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/admin/categories']">
              <i class="fas fa-tasks mr-2 col-1"></i>Quản Lý Chuyên Mục
            </a>
          </li>
          <li class=" pt-2 pb-2 menu-var">
            <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/admin/posts']">
              <i class="fas fa-file-signature mr-2 col-1"></i>Quản Lý Bài Đăng
            </a>
          </li>

          <li class=" pt-2 pb-2 menu-var">
            <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/admin/banners']">
<!--              <i class="fas fa-car mr-2 col-1"></i>Banner-->
              <i class="far fa-credit-card mr-2 col-1"></i>Banner
            </a>
          </li>

          <li class=" pt-2 pb-2 menu-var">
            <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/admin/chat']">
              <i class="fas fa-comment-dots mr-2 col-1"></i>Chat
            </a>
          </li>
          <li class=" pt-2 pb-2 menu-var">
            <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/admin/chat']">
              <i class="fas fa-mail-bulk mr-2 col-1"></i> Mail Server
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Start of content-->
    <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


