<div class="mt-5 pt-5 pb-5 footer row sticky-bottom sticky"
     style="background-color: #027FFF; margin: 0 0 0 0; color: white; font-family: 'Roboto Light', sans-serif">

  <div class="col-lg-3 col-xs-12 links" style="padding: 20px 0 0 150px; text-align: left">
    <h2 style="color:white">HỖ TRỢ KHÁCH HÀNG</h2>
    <ul style="list-style-type: none; padding: 0 0 0 0">
      <li><a routerLink="chat" style="color: white">Chat với admin</a></li>
      <li><a routerLink="chat" style="color: white">Chat với người bán</a></li>
    </ul>
  </div>

  <div class="col-lg-3 col-xs-12 links" style="padding: 20px 0 0 150px; text-align: left">
    <h2 style="color: white">VỀ CHÚNG TÔI</h2>
    <ul style="list-style-type: none; padding: 0 0 0 0">
      <li><a routerLink="" style="color: white">Về website</a></li>
      <li><a routerLink="" style="color: white">Về trang web</a></li>
    </ul>
  </div>

  <div class="col-lg-3 col-xs-12 links" style="padding: 20px 0 0 150px; text-align: left">
    <h2 style="color: white">LIÊN KẾT</h2>
    <ul style="list-style-type: none; padding: 0 0 0 0">
      <li><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/thinh.tranhuynhbao/" style="color: white"> Facebook</a></li>
      <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/cate_ngauloi/" style="color: white"> Instagam</a></li>
    </ul>
  </div>

  <div class="col-lg-3 col-xs-12 links" style="padding: 20px 0 0 50px; text-align: left">
        <span class="far fa-copyright"
              style="font-size: 20px"> C1120G1 Project</span>
  </div>

</div>
