.footer {
  z-index: 0;
  position: relative;
}
@media (max-width: 1168px) {
  .left-footer {
    flex: 0 0 auto;
    width: 80%;
  }
  .mid-right {
    text-align: center;
    flex: 0 0 auto;
    width: 80%;
  }

}
@media (max-width: 650px) {
  .mid-right {
    text-align: center;
    flex: 0 0 auto;
    width: 100%;
  }
  .footer-copyright p {
    height: 6.25rem;
    margin-top: 0.3125rem;
  }
}
.left-footer {
  z-index: 100;
  height: 100%;
  margin-top: 0;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 3.125rem;
  background-color: #f3f3f3;
  box-shadow: 0.5rem 0.5rem 0.25rem 0 rgba(0,0,0,0.4);
}
.left-footer ul li {
  margin-right: 1.5rem;
}

.btnMap {
  width: 12.5rem;
  height: 3.125rem;
  color: gray;
  font-size: 1.3rem;
  margin-top: 0.625rem;
  border-radius: 3px;
  background-color: #046056;
}
.btnMap:hover {
  color: white;
}
.blue-PlayFair {
  color: #0a6ebd;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}
.text-about {
  font-size: 0.9375rem;
  line-height: 1.875rem;
  padding-bottom: 1rem;
}
.text-about hr {
  margin-top: 0.5rem;
}
.text-about li:hover {
  transform: translateY(-0.4375rem);
  transition: all 0.3s ease-in;
}
.text-about li {
  transition: all 0.3s ease-out;
}
.mid-right {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 2rem;
  padding-left: 2.1rem;
}
.mid-right .mid-footer, .right-footer{
  text-align: left;
  align-items: center;
  justify-content: center;
}
.mid-footer {
  padding-left: 1.5rem;
  text-align: left;
}
.mid-footer ul {
  list-style: none;
  padding-top: 3.125rem;
}
.mid-footer ul li {
  font-size: 1rem;
  line-height: 2rem;
}
.mid-footer ul li a {
  color: dimgray;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.mid-footer ul li a:hover {
  color: white;
  text-decoration: underline;
  transition: all 0.3s ease-out;
}
.footer-copyright {
  position: fixed;
  left: 0; right: 0; bottom: 0;
  width: 100%;
  align-items: center;
  height: 2.25rem;
  z-index: 100;
  background-color: cornflowerblue;
}
.footer-copyright p, button {
  line-height: 0.5rem;
  font-size: 0.9375rem;
  font-weight: 500;
  color: white;
}
.footer-copyright .btnLearnMore {
  align-items: center;
  margin: 0.375rem 0.625rem;
  font-size: 0.8125rem;
  height: 1.625rem;
  color: #0f574b;
  font-weight: 600;
  background-color: #abdecf;
  border-radius: 3px;
}
.right-footer {
  text-align: left;
}
.right-footer .rf-content {
  padding-right: 0;
  padding-left: 1.3rem;
  margin-right: 0;
  font-size: 0.8125rem;
  color: dimgray;
}
.right-footer .email {
  display: inline;
  font-size: 0.6875rem;
}
.right-footer .email a {
  color: dimgray;
  text-decoration: none;
}
.right-footer .email a:hover {
  color: dimgray;
  text-decoration: underline;
}
#copyright {
  color: dimgray;
  padding-bottom: 1.875rem;
  display: inline;
  grid-column-start: 1;
  grid-column-end: 3;
}
#backToTopBtn {
  position: fixed;
  display: none;
  bottom: 5.575rem; right: 1rem;
  float: right;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0;
  background-color: #0f574b;
  transition: all 0.5s ease;
  z-index: 100;
  box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0,0,0,0.4);
}
#backToTopBtn:hover {
  cursor: pointer;
  transform: translateY(-0.4375rem);
  box-shadow: 0.25rem 0.125rem 0.125rem 0 rgba(0,0,0,0.4);
}
.fa-arrow-up {
  margin-top: 0.3rem;
}
.about-us ul {
  padding-left : 0.75rem;
  margin-right: 1.5rem;
  padding-top: 0;
}
.title-footer {
  text-transform: uppercase;
  color: #0D5DB6;
  font-size: 1.25rem;
}
.title-footer a {
  text-decoration: none;
  color: #0D5DB6;
}
#email {
  color: #0b75c9;
}
#time, #gmt {
  color: #0D5DB6;
  font-size: 1rem;
  margin-top: 1.5rem;
}
