<div class="mt-5 pt-5 pb-5 footer row fixed-bottom"
     style="background-color: #027FFF; margin: 0 0 0 0; color: white; font-family: 'Roboto Light', sans-serif">

  <div class="col-lg-3 col-xs-12 links" style="padding: 20px 0 0 150px; text-align: left">
    <h3>HỖ TRỢ KHÁCH HÀNG</h3>
    <ul style="list-style-type: none; padding: 0 0 0 0">
      <li>Chat với admin</li>
      <li>Chat với người bán</li>
    </ul>
  </div>

  <div class="col-lg-3 col-xs-12 links" style="padding: 20px 0 0 150px; text-align: left">
    <h3>VỀ CHÚNG TÔI</h3>
    <ul style="list-style-type: none; padding: 0 0 0 0">
      <li>Về website</li>
      <li>Về trang web</li>
    </ul>
  </div>

  <div class="col-lg-3 col-xs-12 links" style="padding: 20px 0 0 150px; text-align: left">
    <h3>LIÊN KẾT</h3>
    <ul style="list-style-type: none; padding: 0 0 0 0">
      <li><i class="fab fa-facebook-square"></i> Facebook</li>
      <li><i class="fab fa-instagram"></i> Instagam</li>
    </ul>
  </div>

  <div class="col-lg-3 col-xs-12 links" style="padding: 20px 0 0 50px; text-align: left">
        <span class="far fa-copyright"
              style="font-size: 20px"> C1120G1 Project</span>
  </div>
</div>
