<footer class="footer">
  <div class="container-fluid text-center mt-5 w-100"
       style="background-color:#b4d5fa; border-top: 5px solid #b4d5fa">
    <div class="row">

      <!--      left-footer-->
      <div class="col-lg-4 col-sm-12 mb-4 left-footer">
        <h2 class="mt-2 pt-5 blue-PlayFair">
          C11 AD WEB - TRANG RAO VẶT
        </h2>
        <hr class="mb-2 mt-0 d-inline-block mx-auto"
            style="width: 100%; height: 2px; background-color: #0a6ebd">
        <p class="text-about">
          Chào mừng đến với trang Web Rao Vặt <br>
          Nơi bạn có thể đăng tin rao vặt, mua hoặc bán tất cả sản phầm từ đồ gia dụng
          , thú cưng, đồ điện tử, ... cho đến nhà đất, xe cộ. <br>
          Chúc bạn có những trải nghiệm tốt nhất tại trang web của chúng tôi.
        </p>

        <h4 class="mt-2 blue-PlayFair">
          Follow us
        </h4>
        <ul class="list-unstyled text-about mt-2 row justify-content-center">
          <li>
            <a href="#">
              <img width="40" height="40"
                   src="https://firebasestorage.googleapis.com/v0/b/c1120g1.appspot.com/o/login%2Ffacebook-logo.png?alt=media&token=ed6ec75c-0025-44c7-8cf2-3fa4fed9230d"
                   alt="facebook" title="Facebook">
            </a>
          </li>
          <li>
            <a href="#">
              <img width="40" height="40"
                   src="https://firebasestorage.googleapis.com/v0/b/c1120g1.appspot.com/o/login%2Fgoogle-plus.png?alt=media&token=7a795f8f-b1cb-4378-aa00-fa173dabb8a1"
                   alt="google-plus" title="Google">
            </a>
          </li>
          <li>
            <a href="#">
              <img width="40" height="40"
                   src="https://firebasestorage.googleapis.com/v0/b/c1120g1.appspot.com/o/login%2Ftwitter.png?alt=media&token=33417068-ddb2-4607-a9b1-918adf4a4535"
                   alt="twitter" title="Twitter">
            </a>
          </li>
          <li>
            <a href="#">
              <img width="40" height="40"
                   src="https://firebasestorage.googleapis.com/v0/b/c1120g1.appspot.com/o/login%2Finstagram.png?alt=media&token=18de983b-151f-4da8-9946-08376417da0c"
                   alt="instagram" title="Instagram">
            </a>
          </li>
        </ul>
      </div>

      <!--      mid + right-->
      <div class="row col-lg-7 mb-4 mid-right text-center">

        <!--      mid-footer 1-->
        <div class="col-lg-12 col-md-12 col-sm-12 mb-4 mid-footer">
          <div class="d-inline-flex">
            <div>
              <i class="fas fa-map fa-2x text-primary"></i>
            </div>
            <div class="w-100 pl-3">
              <span>Địa chỉ : Phường Khuê Trung, Hải Châu, Thành phố Đà Nẵng</span>
            </div>
          </div>
          <br>
          <div class="d-inline-flex mt-4">
            <div>
              <i class="fas fa-clock fa-2x text-primary"></i>
            </div>
            <div class="w-100 pl-3 d-block">
              <span id="time"></span>
              <span id="gmt"></span>
            </div>
          </div>
        </div>

        <!--      right-footer 1-->
        <div class="col-lg-11 col-md-11 col-sm-11 right-footer">
          <div class="d-inline-flex">
            <div>
              <i class="fas fa-phone-volume fa-2x text-primary"></i>
            </div>
            <div class="w-100 pl-3 d-block">
              <span class="w-100">0235870306</span>
              <p class="text-uppercase w-100"
                 style="color: #0b75c9">Gọi ngay
              </p>
            </div>
          </div>
          <br>
          <div class="d-inline-flex mt-2">
            <div>
              <i class="fas fa-envelope fa-2x text-primary"></i>
            </div>
            <div class="w-100 pl-3 d-block">
              <span id="email">
                <a href="#">sorenisme2109@gmail.com</a>
              </span>
            </div>
          </div>
        </div>

        <!--      mid-footer 2-->
        <div class="col-lg-12 col-md-12 col-sm-12 mid-footer">
          <div class="d-inline-block">
            <div>
              <p class="title-footer">Trang web</p>
              <hr class="mb-2 mt-0 d-inline-block mx-auto"
                  style="width: 100%; height: 2px;
                   background-color: #0a6ebd">
            </div>
            <div class="w-100">
              <div class="row about-us">
                <ul>
                  <li><a href="">Về chúng tôi</a></li>
                  <li><a href="">Dịch vụ</a></li>
                  <li><a href="">Đánh giá chất lượng</a></li>
                </ul>
                <ul>
                  <li><a href="">Phản hồi</a></li>
                  <li><a href="">Blog</a></li>
                  <li><a href="">Giấy phép</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--      right-footer 2-->
        <div class="col-lg-11 col-md-11 col-sm-11 right-footer">
          <div class="d-inline-block">
            <div>
              <p class="title-footer">
                <a routerLink="/register">Đăng ký ngay</a>
              </p>
              <hr class="mb-2 mt-0 d-inline-block mx-auto"
                  style="width: 100%; height: 2px;
                   background-color: #0a6ebd">
            </div>
            <div class="w-100">
              <span>Nhận thông báo mới nhất qua email</span>
              <div class="d-inline-flex">
                <input type="email" placeholder="example@gmail.com"
                       class="form-control rounded-pill bg-light mt-2">
                <button class="btn btn-primary rounded-pill"
                        style="margin-top: 0.675rem">
                  <span> Gửi</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--        copyright-->
        <div style="margin-top: 5px" id="copyright">
          <div>
            <p>&copy; 2021 C11 Web Rao Vặt - Hoangtq</p>
          </div>
          <button id="backToTopBtn" title="Back To Top" (click)="backTop()"
                  class="align-items-center justify-content-center text-center">
            <i class="fas fa-2x fa-arrow-up text-white"></i>
          </button>
        </div>

      </div>

    </div>
  </div>
  <!--  copy-right-->
  <div class="footer-copyright text-center">
    <p>
      COVID 19 UPDATE: The safety and well-being are our utmost priority
      <button class="btn btnLearnMore">Learn more</button>
    </p>
  </div>
</footer>
