<div class="container-fluid body">
      <div class="card">
        <div class="card-body">
          <p class="title">Chỉnh sửa chuyên mục</p>
          <form [formGroup]="formEdit" (ngSubmit)="save()">
            <table class="table table-striped">
              <tr>
                <td>Tên chuyên mục cha</td>
                <td>
                  <input type="text" formControlName="categoryName" class="form-control">
                  <div class="error alert alert-danger" role="alert"
                       *ngIf="formEdit.get('categoryName').invalid && formEdit.get('categoryName').dirty">
                    <span *ngIf="formEdit.get('categoryName').hasError('required')">Tên chuyên mục cha không được để trống.</span>
                    <span *ngIf="formEdit.get('categoryName').hasError('pattern')">Tên chuyên mục cha không được có kí tự đặc biệt</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="text-align: center">
                  <input type="submit" class="btn btn-success" [disabled]="formEdit.invalid" value="Lưu">
                </td>
                <td style="text-align: center">
                  <a routerLink="/admin/categories/categories" class="btn btn-secondary">Hủy</a>
                </td>
              </tr>
            </table>
          </form>
    </div>
  </div>
</div>
