<div class="container-fluid body">
  <div class="card">
    <div class="card-body">
      <p class="title">Quản lý chuyên mục</p>
      <div class="row">
        <div class="col-md-6" style="text-align: center">
          <a class="btn btn-info btn-rounded mb-4" routerLink="child-categories">Danh sách chuyên mục</a><br>
        </div>
        <div class="col-md-6" style="text-align: center">
          <a class="btn btn-info btn-rounded mb-4" routerLink="categories">Danh sách chuyên mục cha</a><br>
        </div>
      </div>
    </div>
  </div>
</div>
