<div class="container-fluid body">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quản lý thành viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-light" routerLink="main-category">Quản lý chuyên mục</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Banner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mail Server</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <p class="title">Quản lý chuyên mục</p>
          <div class="row">
            <div class="col-md-6">
              <a href="" class="btn btn-info btn-rounded mb-4" routerLink="child-category" data-toggle="modal"
                 data-target="#modalCreateCategories">Danh sách chuyên mục</a><br>
            </div>
            <div class="col-md-6">
              <a href="" class="btn btn-info btn-rounded mb-4" routerLink="category" data-toggle="modal"
                 data-target="#modalCreateCategories">Danh sách chuyên mục cha</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
