<div class="table-responsive" id="abc">
  <h2 style="color: #027FFF">Xem tin rao vặt</h2>
  <div class="input-group col-5 my-3">
    <input type="search" class="form-control" placeholder="Tiêu đề..." aria-label="Search"
           aria-describedby="search-addon" [(ngModel)]="keySearch">
    <button type="button" class="btn btn-outline-primary mx-2" (click)="search()">Tìm kiếm</button>
  </div>
<!--  <div class="col-3 float-left d-inline-flex my-2">-->
<!--    <input type="text" [(ngModel)]="keySearch"   placeholder="Input Name or Id User To Find" class="form-control rounded-pill inputSearch" style="width: 80%">-->
<!--    <button class="btn btnSearch" (click)="search()"><i class="fas fa-search"></i></button>-->
<!--  </div>-->
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Mã sản phẩm</th>
      <th>Tên bài đăng</th>
      <th>Tiêu đề</th>
      <th>Email</th>
      <th class="text-center">Chi tiết</th>
      <th class="text-center">Huỷ duyệt</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of postList | paginate: {itemsPerPage: 2, currentPage: p}">
      <td>{{item.postId}}</td>
      <td>{{item.posterName}}</td>
      <td>{{item.title}}</td>
      <td>{{item.email}}</td>
      <td class="text-center">
        <button [routerLink]="[item.postId]" class="btn btn-info" style="width:44px"><i class="far fa-eye"></i></button>
      </td>
      <td class="text-center">
        <button class="btn btn-danger" style="width:44px" data-toggle="modal" data-target="#cancelApproveModal"
                (click)="cancelId = item.postId; cancelTitle= item.title">
          <i class="far fa-window-close"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="postList.length == 0"><h2 style="color: red" class="text-center">----------Không có dữ liệu----------</h2></div>
  <div>
    <pagination-controls (pageChange)="p = $event" nextLabel="Sau" previousLabel="Trước"></pagination-controls>
  </div>
</div>

<div class="modal fade" id="cancelApproveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-cancel-approve [cancelId]="cancelId" [cancelTitle]="cancelTitle"
                           (cancelComplete)="cancelSuccess()"></app-cancel-approve>
      </div>
    </div>
  </div>
</div>
