<div class="row">
  <div class="col-12 float-right mt-3">
    <div class="table-header">
      <p class="text-center text-uppercase title">Chỉnh sửa thông tin thành viên</p>
    </div>
    <button class="btn btn-success btnback" (click)="backToUserList()">Quay Lại</button>
    <div class="col-12 justify-content-center align-items-center">
      <form [formGroup]="rfEditForm" (ngSubmit)="onSubmit()">
        <table class="table table-hover col-8">
          <tbody>
          <tr>
            <th style="width: 40%">
              <label for="nameUser">Tên Người Dùng&nbsp;</label>
              <span style="color:red">*</span>
            </th>
            <td>
              <input type="text" formControlName="name" id="nameUser"
                       placeholder="Nhập tên người sử dụng"
                       class="form-control inputText">
              <p class="errorText" *ngIf="rfEditForm.controls.name.touched && rfEditForm.controls.name.errors?.pattern">
                Tên người dùng không chứa kí tự đặc biệt</p>
              <p class="errorText" *ngIf="rfEditForm.controls.name.dirty && rfEditForm.controls.name.errors?.required">
                Tên người dùng đang bỏ trống</p>
            </td>
          </tr>
          <tr>
            <th>Email <span style="color:red">*</span></th>
            <td><input type="text" formControlName="email" (input)="checkInput('email')" placeholder="Nhập địa chỉ" class="form-control inputText">
              <p class="errorText" *ngIf="rfEditForm.controls.email.touched && rfEditForm.controls.email.errors?.email">
                Email không đúng định dạng VD: abc@abc.com</p>
              <p class="errorText"
                 *ngIf="rfEditForm.controls.email.dirty && rfEditForm.controls.email.errors?.required">Email người dùng
                đang bỏ trống</p>
              <p class="errorText" *ngIf="!isCheck">{{listError.existEmail}}</p>
            </td>
          </tr>
          <tr>

            <th>Tỉnh/ Thành Phố<span style="color:red">*</span></th>
            <td>
              <select [compareWith]="compareProvince" (change)="onChangeProvince($event.target.value)"
                      formControlName="province" class="form-control selectoption">
                <option value="" disabled selected>Vui lòng chọn Tỉnh/ Thành Phố</option>
                <option *ngFor="let province of provinces" [ngValue]="province" style="color: blue">
                  {{province.provinceName}}
                </option>
              </select>
              <p class="errorText"
                 *ngIf="rfEditForm.controls.province.touched && rfEditForm.controls.province.errors?.required">Địa chỉ
                người dùng đang bỏ trống</p>
            </td>
          </tr>
          <tr>
            <th>Quận/ Huyện<span style="color:red">*</span></th>
            <td>
              <select [compareWith]="compareDistrict" formControlName="district"
                      (change)="onChangeDistrict($event.target.value)" class="form-control selectoption">
                <option value="" disabled selected>Vui lòng chọn Quận/ Huyện</option>
                <option *ngFor="let district of districts"
                        [ngValue]="district"
                        style="color: blue">
                  {{district.districtName}}
                </option>
              </select>
              <p class="errorText"
                 *ngIf="rfEditForm.controls.ward.touched && rfEditForm.controls.ward.errors?.required">Địa chỉ người
                dùng đang bỏ trống</p>
            </td>
          </tr>
          <tr>
            <th>Xã/ Phường<span style="color:red">*</span></th>
            <td>
              <select [compareWith]="compareWard" formControlName="ward" class="form-control selectoption">
                <option value="" disabled selected>Vui lòng chọn Xã/ Phường</option>
                <option *ngFor="let ward of wards"
                        [ngValue]="ward"
                        style="color: blue">
                  {{ward.wardName}}
                </option>
              </select>
              <p class="errorText"
                 *ngIf="rfEditForm.controls.ward.touched && rfEditForm.controls.ward.errors?.required">Địa chỉ người
                dùng đang bỏ trống</p>
            </td>
          </tr>
          <tr>
            <th>Số điện thoại <span style="color:red">*</span></th>
            <td><input type="text" formControlName="phone" (input)="checkInput('phone')" placeholder="Nhập số điện thoại người sử dụng"
                       class="form-control inputText">
              <p class="errorText" *ngIf="rfEditForm.controls.phone.dirty && rfEditForm.controls.phone.errors?.pattern">
                Số điện thoại không đúng định dạng VD : (+84) 0918870.XXX</p>
              <p class="errorText"
                 *ngIf="rfEditForm.controls.phone.dirty && rfEditForm.controls.phone.errors?.required">Số điện thoại
                người dùng đang bỏ trống</p>
              <p class="errorText" *ngIf="!isCheck">{{listError.existPhone}}</p>
            </td>
          </tr>

          <!--          image -->
          <tr>
            <th>Ảnh đại diện:</th>
            <td>
              <input hidden type="file" class="form-control" formControlName="avatarUrl" accept="image/*" #fileUploader
                     (change)="showPreview($event)">
              <div class="container pointer" (click)="fileUploader.click()">
                <img [src]="imgSrc" alt="Avatar" class="image">
                <div class="middle">
                  <div class="text">Cập nhật ảnh</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <button class="btn updateBtn" [disabled]="rfEditForm.invalid">Cập Nhật</button>
              &nbsp;
              <button class="btn btn-warning" type="reset">Nhập Lại</button>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
