form {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.errorText {
  font-size: 11px;
  color: red;
  margin-top: 7px;
}
.menuB {
  margin-top: 30px;
  font-size: 14px;
  margin-left: 50px;
}
.inputText {
  font-size: 13px;
}
.title {
  font-size: 1.75rem;
  margin:  5px;
  color: #0D5DB6;
  text-transform: uppercase;
  padding: 10px;
}
.updateBtn {
  background-color: #0D5DB6;
}
.table-header {
  border-radius: 3px 3px 0 0;
  margin-bottom: 10px;
}
.menu-left-admin {
  border-right: solid #095484 1px;
  height: 700px;
  margin: 26px;
}

.menu-left-admin ul li {
  list-style: none;
  transition: 0.5s;
  border-bottom: white solid 2px;
}
.menu {
  width: 100%;
  height: 60px;
  background: #095484;

}
.btnback {
  margin-bottom: 1rem;
}
.menu-left-admin {
  border-right: solid #095484 1px;
  height: 700px;
  margin: 26px;
}

.menu-left-admin ul li {
  list-style: none;
  transition: 0.5s;
  border-bottom: white solid 2px;
}

.menu-left-admin .menu-var:hover {
  border-bottom: #095484 solid 2px;
  transition: 0.5s;
}

.container {
  position: relative;
  width: 20%;
  float: left;
}

.image {
  display: block;
  width: 120px;
  height: 130px;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.1;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  font-size: 0.6em;
  font-weight: bold;
}
.pointer {
  cursor: pointer;
}
.selectoption {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
