.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;
  color: #0D5DB6;
  padding: 1rem 0;
}

a.item_ad {
  text-decoration: none;
  color: black;
}

a.item_ad:hover{
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  transition: 0.3s;
}

.btn-load-more{
  border-radius: 30px;
}

.btn-load-more:hover{
  transition: 0.5s;
}
