<!-- list post -->
<div class="list-group list-post mt-2">
  <div href="#" class="list-group-item post-item filter-bar border-bottom">
    <div class="d-inline-flex col-12 px-0">
      <p class="col-6 px-0">
        Rao vặt&nbsp;
        <span class="text-lowercase">toàn quốc</span>
      </p>
      <p class="col-6 px-0 text-right">
        <!--              <a class="col-6 filter-item">Giá rẻ trước</a>-->
        <a class="col-6 filter-item ">Tin mới trước</a>
      </p>
    </div>
  </div>
  <!--        <h3 class="text-danger text-center">Không tìm thấy kết quả</h3>-->
  <!-- post -->
  <a routerLink="" class="list-group-item list-group-item-action post-item border-bottom"
     *ngFor="let item of posts.content, let i = index">
    <div class="d-inline-flex col-12 pl-0">
      <div class="col-md-2 col-sm-3 px-0">
        <img [src]="item.imageSet[0].url" width="100" height="100"/>
      </div>
      <div class="px-0 col-md-10 col-sm-9 post-item-content">
        <div class="d-inline-flex col-12 px-0">
          <section class="col-9 px-0 font-weight-bold">{{item.title}}</section>
          <span class="col-3 px-0 text-right font-italic">{{listTime[i]}}</span>
        </div>
        <div class="font-italic text-danger">{{item.price}}vnd</div>
        <div>Ở <span class="font-italic">{{item.ward.district.province.provinceName}}</span></div>
      </div>
    </div>
  </a>
  <!-- END post -->
</div>
<!-- END list post -->
<!-- pagination -->
<div class="load-more d-flex justify-content-center m-3">
  <nav aria-label="Page navigation example" class="float-right">
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" [hidden]="posts?.pageable?.pageNumber == 0"
                (click)="onList(posts.pageable.pageNumber - 1)">Trước
        </button>
      </li>
      <li class="page-item">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{{posts?.pageable?.pageNumber + 1}}</span>
          </div>

          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"> /{{posts?.totalPages}}</span>
          </div>
        </div>
      </li>
      <li class="page-item">
        <button class="page-link" [hidden]="posts?.pageable?.pageNumber >=  posts?.totalPages - 1"
                (click)="onList(posts.pageable.pageNumber + 1)">Tiếp
        </button>
      </li>
    </ul>
  </nav>
</div>
<!-- END pagination-->
