<!-- list post -->
<div class="list-group list-post mt-2">
  <div href="#" class="list-group-item post-item filter-bar border-bottom">
    <div class="d-inline-flex col-12 px-0">
      <p class="col-12 px-0 title">
        Bài đăng mới
      </p>
    </div>
  </div>
  <!--  GRID ad-->
  <div class="bg-light">
    <div class="mx-0 row" *ngIf="listPostData; else noPostData">
      <!--item-->
      <a class="col-md-3 col-sm-4 col-6 mx-0 border item_ad"
         *ngFor="let item of listPostData, let i = index" [routerLink]="['post',item.postId]">
        <div class="mx-0 py-2">
          <div class="thumbnail-ad px-0 mx-0">
            <img [src]="item.imageSet[0].url" width="100%" height="200px" *ngIf="item.imageSet.length > 0, else noPic"/>
            <ng-template #noPic>
              <img [src]="defaultImgUrl" width="100" height="100"/>
            </ng-template>
          </div>
          <div class="caption-ad mt-1">
            <span class="badge badge-success mr-1" *ngIf="item.postType == 1">Cần bán</span>
            <span class="badge badge-danger mr-1" *ngIf="item.postType == 0">Cần mua</span>
            <section>
              {{item.title}}
            </section>
            <p class="text-danger font-weight-bold">
              <span *ngIf="item.price, else elsePrice">
                {{item.price| currency: 'VND': '': '1.0'}} đ
              </span>
              <ng-template #elsePrice>
                Giá cả liên hệ
              </ng-template>
            </p>
          </div>
          <p class="d-inlex-inline">
            <i class="fas fa-ad"></i>&bull;
            <span>{{listTime[i]}}</span>&bull;
            <span>{{item.ward.district.province.provinceName}}</span>
          </p>
        </div>
      </a>
      <!--END item-->
    </div>
    <ng-template #noPostData class="d-flex justify-content-center mt-2">
      <h3 class="title-text text-danger font-weight-bold">Không tìm thấy bài viết nào</h3>
    </ng-template>
  </div>
  <!--  END GRID ad-->
</div>
<!-- END list post -->
