<div style="height: 345px">
  <div class="mt-2" *ngIf="bannerLeftOne" style="height: 340px">
    <img [src]="bannerLeftOne.image" class="img-fluid border border-secondary" alt="..."
         style="width: 250px; height: 300px">
  </div>
</div>
<div style="height: 345px">
  <div *ngIf="bannerLeftTwo" style="height: 340px">
    <img [src]="bannerLeftTwo.image" class="img-fluid border border-secondary" alt="..."
         style="width: 250px; height: 300px">
  </div>
</div>
<div style="height: 345px">
  <div *ngIf="bannerLeftThree" style="height: 340px">
    <img [src]="bannerLeftThree.image" class="img-fluid border border-secondary" alt="..."
         style="width: 250px; height: 300px">
  </div>
</div>
