<!-- main content -->
<div class="d-flex justify-content-center col-12 col-sm-12 col-md-12">
  <!-- content here -->
  <div class="d-flex justify-content-center col-12 mt-5 pt-3">
    <div class="col-sm-12 col-md-9">
      <p class="title-text text-uppercase">Đăng tin</p>
      <!--      <form>-->
      <form [formGroup]="form" (ngSubmit)=submitForm(form)>
        <table class="table">
          <tbody>
          <tr>
            <td>
              <label for="name">
                Tên
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Nhập vào tên của bạn" id="name"
                     formControlName="posterName"/>
              <p class="invalid-feedback" *ngIf="form.controls.posterName.touched">
                <span *ngIf="form.controls.posterName.errors?.required">Hãy nhập dữ liệu vào trường bắt buộc.</span>
                <span *ngIf="form.controls.posterName.errors?.pattern">Tên không hợp lệ.</span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="phone">
                Số điện thoại
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Nhập vào số điện thoại" id="phone"
                     formControlName="phone"/>
              <p class="invalid-feedback" *ngIf="form.controls.phone.touched">
                <span *ngIf="form.controls.phone.errors?.required">
                  Hãy nhập dữ liệu vào trường bắt buộc.
                </span>
                <span *ngIf="form.controls.phone.errors?.pattern">
                  Số điện thoại là số và phải từ 10-11 số. Vui lòng nhập lại.
                </span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="email">
                Email
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
              <input type="email" class="form-control" placeholder="Nhập vào email của bạn" id="email"
                     formControlName="email"/>
              <p class="invalid-feedback" *ngIf="form.controls.email.touched">
                <span *ngIf="form.controls.email.errors?.required">
                  Hãy nhập dữ liệu vào trường bắt buộc.
                </span>
                <span *ngIf="form.controls.email.errors?.pattern">
                  Email có dạng somebody@gmail.com, somebody@yahoo.com
                </span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                Địa chỉ
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
            <span>
                <select class="custom-select custom-select-sm mb-1" [(ngModel)]="province" (change)="onChangeProvince()"
                        [ngModelOptions]="{standalone: true}">
                    <option selected disabled>Chọn tỉnh thành</option>
                    <option *ngFor="let province of provinces" [ngValue]="province">{{province.provinceName}}</option>
                </select>
                <br/>
                <select class="custom-select custom-select-sm mb-1" [(ngModel)]="district" (change)="onChangeDistrict()"
                        [ngModelOptions]="{standalone: true}">
                    <option selected disabled>Chọn quận/huyện</option>
                    <option *ngFor="let district of districts" [ngValue]="district">{{district.districtName}}</option>
                </select>
                <br/>
                <select class="custom-select custom-select-sm mb-1" formControlName="ward">
                    <option selected disabled>Chọn xã/phường</option>
                    <option *ngFor="let ward of wards" [ngValue]="ward">{{ward.wardName}}</option>
                </select>
            </span>
              <p class="invalid-feedback" *ngIf="form.controls.ward.touched">
                <span *ngIf="form.controls.ward.errors?.required">
                  Hãy nhập dữ liệu vào trường bắt buộc.
                </span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="category">
                Chuyên mục
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
              <select class="form-control" id="category" [(ngModel)]="category"
                      [ngModelOptions]="{standalone: true}"
                      (change)="onChangeCategory()">
                <option selected disabled>Chọn chuyên mục</option>
                <option *ngFor="let category of categories" [ngValue]="category">{{category.categoryName}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="child_category">
                Chuyên mục con
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
              <select class="form-control" id="child_category" formControlName="childCategory">
                <option selected disabled>Chọn chuyên mục</option>
                <option *ngFor="let childCategory of childCategories" [ngValue]="childCategory">
                  {{childCategory.childCategoryName}}</option>
              </select>
              <p class="invalid-feedback" *ngIf="form.controls.childCategory.touched">
                <span *ngIf="form.controls.childCategory.errors?.required">
                  Bạn chưa chọn chuyên mục. Vui lòng chọn chuyên mục cần đăng.
                </span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                Bạn đăng tin
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
            <span class="form-check-inline d-flex justify-content-around">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input"
                         value=true name="postType"
                         formControlName="postType"/>Cần bán
                </label>
                <label class="form-check-label">
                  <input type="radio" class="form-check-input"
                         value=false name="postType"
                         formControlName="postType"/>Cần mua
                </label>
            </span>
              <p class="invalid-feedback" *ngIf="form.controls.postType.touched">
                 <span *ngIf="form.controls.postType.errors?.required">
                    Bạn chưa chọn mục cần bán hay mua. Vui lòng chọn mục.
                 </span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="title">
                Tiêu đề
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Nhập vào tiêu đề bài viết" id="title"
                     formControlName="title"/>
              <p class="invalid-feedback" *ngIf="form.controls.title.touched">
                <span *ngIf="form.controls.title.errors?.required">
                  Vui lòng nhập tiêu đề bài viết.
                </span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="content">
                Nội dung tin
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
            <textarea class="form-control" rows="5" id="content" name="text" placeholder="Nhập vào nội dung tin"
                      formControlName="description">
            </textarea>
              <p class="invalid-feedback" *ngIf="form.controls.description.touched">
                <span *ngIf="form.controls.description.errors?.required">
                  Hãy nhập dữ liệu vào trường bắt buộc.
                </span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label for="price">
                Giá
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
              <input type="number" class="form-control" placeholder="Nhập vào giá sản phẩm" id="price" min="0"
                     formControlName="price"/>
              <p class="invalid-feedback" *ngIf="form.controls.price.touched">
                <span *ngIf="form.controls.price.errors?.pattern">Giá không hợp lệ.</span>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                Ảnh
                <span class="asterisk-red">*</span>
              </label>
            </td>
            <td>
              <button class="btn btn-success" (click)="addImage()" type="button">
                <i class="fas fa-folder-plus"></i>
              </button>
              <section class="d-block">
                <section style="display: none" id="addImg1">
                  <section class="d-inline-flex imgAdd">
                    <input class="form-control col-md-10" type="file" accept="image/*"/>
                    <button class="btn btn-danger ml-2" type="button" (click)="removeImg('addImg1')">
                      <i class="fas fa-folder-minus"></i>
                    </button>
                  </section>
                </section>
                <section style="display: none" id="addImg2">
                  <section class="d-inline-flex imgAdd">
                    <input class="form-control col-md-10" type="file" accept="image/*"/>
                    <button class="btn btn-danger ml-2" type="button" (click)="removeImg('addImg2')">
                      <i class="fas fa-folder-minus"></i>
                    </button>
                  </section>
                </section>
                <section style="display: none" id="addImg3">
                  <section class="d-inline-flex imgAdd">
                    <input class="form-control col-md-10" type="file" accept="image/*"/>
                    <button class="btn btn-danger ml-2" type="button" (click)="removeImg('addImg3')">
                      <i class="fas fa-folder-minus"></i>
                    </button>
                  </section>
                </section>
                <section style="display: none" id="addImg4">
                  <section class="d-inline-flex imgAdd">
                    <input class="form-control col-md-10" type="file" accept="image/*"/>
                    <button class="btn btn-danger ml-2" type="button" (click)="removeImg('addImg4')">
                      <i class="fas fa-folder-minus"></i>
                    </button>
                  </section>
                </section>
              </section>
            </td>
          </tr>
          <tr>
            <td>
              <a class="btn btn-danger col-md-6" (click)="cancelUpdate()">Huỷ</a>
            </td>
            <td class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success col-md-6" [disabled]="form.invalid">Đăng tin</button>
              <!--              <button type="submit" class="btn btn-success col-md-6">Đăng tin</button>-->
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
<!-- END main content -->
<a href="#notificationModal" data-toggle="modal" style="display: none"></a>
<!-- Modal notification -->
<div id="notificationModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <div class="modal-header">
          <h4 class="modal-title">Đăng tin thành công</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Bạn có muốn tiếp tục đăng tin mới?</p>
          <div class="d-inline-flex col-md-12">
            <button type="button" class="btn btn-success col-md-6 mr-1" data-dismiss="modal">Có</button>
            <a routerLink="../.." class="btn btn-primary col-md-6" data-dismiss="modal">Không, đưa tôi về trang chủ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
