body{
  width: 100%;
  height: 100%;
  font-family: "Roboto Light",sans-serif;
  font-size: 14px;
}

.blue{
  color: #027FFF;
}

.layout-builder td {
  max-width:80px;
  overflow-wrap:break-word;
}

.carousel-item {
  background: grey;
  position: relative;
  width: 100%;
  padding-top: 62.5%; /* 8:5 Aspect Ratio */
}
.carousel-item img {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.carousel-inner {
  max-width: 600px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;
  color: #0D5DB6;
  padding: 1rem 0;
}

