<div class="container col-8">
  <div>
    <h1 style="color: #027FFF" class="text-center">Chi tiết sản phẩm</h1>
    <a role="button" class="btn btn-warning" routerLink="/admin/listDetail">Quay lại trang Admin</a>
  </div>
  <br/>
  <div>
  <table class="table table-striped table-hover">
    <tbody>
    <tr>
      <th>Mã sản phẩm</th>
      <td>{{postDetail.postId}}</td>
    </tr>
    <tr>
      <th>Tên</th>
      <td>{{postDetail.posterName}}</td>
    </tr>
    <tr>
      <th>SĐT</th>
      <td>{{postDetail.phone}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{postDetail.email}}</td>
    </tr>
    <tr>
      <th>Địa chỉ</th>
      <td>{{postDetail.ward.wardName}}</td>
    </tr>
    <tr>
      <th>Nhu cầu</th>
      <td *ngIf="postDetail.postType == true">Cần bán</td>
      <td *ngIf="postDetail.postType == false">Cần mua</td>
    </tr>
    <tr>
      <th>Tiêu đề</th>
      <td>{{postDetail.title}}</td>
    </tr>
    <tr>
      <th>Nội dung</th>
      <td>{{postDetail.description}}</td>
    </tr>
    <tr>
      <th>Giá</th>
      <td>{{postDetail.price}}</td>
    </tr>
<!--    <tr>-->
<!--      <th>Hình ảnh</th>-->
<!--      <td>-->
<!--        <img [src]="postDetail.imageSet[0].url" width="200" height="200">-->
<!--      </td>-->
<!--    </tr>-->
    <tr>
      <th>Hình ảnh</th>
      <section class="d-inline-flex">
        <td *ngFor="let image of postDetail.imageSet" id="listImage">
          <img [src]="image.url" width="100" height="100">
        </td>
      </section>
    </tr>
    </tbody>
  </table>
  </div>
</div>

