body{
  width: 100%;
  height: 100%;
  font-family: "Roboto Light",sans-serif;
  font-size: 14px;
}

.blue{
  color: #027FFF;
}

.carousel-item {
  background: grey;
}
.carousel-item img {
  max-height: 600px;
  object-fit: contain;
}

.layout-builder td {
  max-width:80px;
  overflow-wrap:break-word;
}
